*.bak
Syntax

parser/src/bisonParser/*
parser/bin
VNNLibWrappers.hpp
*.pyi
py.typed
*.egg-info
*.so
build

.vscode
__pycache__

document/**/*.log
document/**/*.out
document/**/*.err
document/**/*.aux
document/**/*.pdf
document/**/*.synctex.gz
document/**/*.blg
document/**/*.toc
