Makefile
*.bak
VNNLibBNF
VNNLibLBNF

parser/src/bisonParser/*
parser/bin

VNNLIBWrappers.hpp

*.so
build

.vscode

VNNLIB2_standard/*.log
VNNLIB2_standard/*.out
VNNLIB2_standard/*.err
VNNLIB2_standard/*.aux
VNNLIB2_standard/*.pdf
