*.bak
Grammar

# Development environment
.vscode
__pycache__

document/**/*.log
document/**/*.out
document/**/*.err
document/**/*.aux
document/**/main.pdf
document/**/*.synctex.gz
document/**/*.blg
document/**/*.toc
