name: Build-and-Test

on: 
    workflow_dispatch:
    pull_request:
    push:
      branches:
        - main

jobs:
  buildAndTestGrammar:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4

        - name: Installing bnfc and dependencies
          run: cabal update && cabal install alex && cabal install happy && cabal install BNFC

        - name: Build the parser
          run: bnfc -d -m grammar.cf && make
        
        - name: Test the parser
          run: chmod +x test.sh && ./test.sh